$legacy_browser_support: false !default;

audio {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
  @if $legacy_browser_support {
    *display: inline;
    *zoom: 1;
  }
}

audio:not([controls]) {
  display: none;
  height: 0;
}
