@import '../general';

:host {
	@include z2();
	background: $primary;
	border: 4px solid $primary-faded;
	border-radius: 10px;
	contain: content;
	cursor: pointer;
	display: inline-block;
	padding: 6px 14px;
	transition: box-shadow 0.1s;
}

@media screen and (min-width: $break-medium) {
	// Only do hover on desktop since mobile devices don't support hover.
	:host(:hover) {
		@include z4();
	}
}

:host(:active) {
	@include z0();
}

button {
	background: $primary;
	border: 0px;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-size: 14px;
}
